In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
crashes_df = pd.read_csv('/content/drive/MyDrive/CPD_traffic_crashes-crashes-20240501.csv')
crashes_df.head(3)

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,NaN,08/18/2023 12:50:00 PM,15,OTHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,OTHER,...,1.0,0.0,1.0,0.0,12,6,8,NaN,NaN,NaN
1,5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4...,NaN,07/29/2023 02:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,1.0,0.0,14,7,7,41.854120,-87.665902,POINT (-87.665902342962 41.854120262952)
2,61fcb8c1eb522a6469b460e2134df3d15f82e81fd93e9c...,NaN,08/18/2023 05:58:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDALCYCLIST,NOT DIVIDED,...,1.0,0.0,1.0,0.0,17,6,8,41.942976,-87.761883,POINT (-87.761883496974 41.942975745006)

In [3]:
crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828511 entries, 0 to 828510
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                828511 non-null  object
 1   CRASH_DATE_EST_I               61842 non-null   object
 2   CRASH_DATE                     828511 non-null  object
 3   POSTED_SPEED_LIMIT             828511 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         828511 non-null  object
 5   DEVICE_CONDITION               828511 non-null  object
 6   WEATHER_CONDITION              828511 non-null  object
 7   LIGHTING_CONDITION             828511 non-null  object
 8   FIRST_CRASH_TYPE               828511 non-null  object
 9   TRAFFICWAY_TYPE                828511 non-null  object
 10  LANE_CNT                       199011 non-null  float64
 11  ALIGNMENT                      828511 non-null  object
 12  ROADWAY_SURFACE_COND           828511 non-null  object
 13  ROAD_DEFECT                    828511 non-null  object
 14  REPORT_TYPE                    803705 non-null  object
 15  CRASH_TYPE                     828511 non-null  object
 16  INTERSECTION_RELATED_I         189976 non-null  object
 17  NOT_RIGHT_OF_WAY_I             38167 non-null   object
 18  HIT_AND_RUN_I                  259413 non-null  object
 19  DAMAGE                         828511 non-null  object
 20  DATE_POLICE_NOTIFIED           828511 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        828511 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         828511 non-null  object
 23  STREET_NO                      828511 non-null  int64
 24  STREET_DIRECTION               828507 non-null  object
 25  STREET_NAME                    828510 non-null  object
 26  BEAT_OF_OCCURRENCE             828506 non-null  float64
 27  PHOTOS_TAKEN_I                 10972 non-null   object
 28  STATEMENTS_TAKEN_I             18613 non-null   object
 29  DOORING_I                      2547 non-null    object
 30  WORK_ZONE_I                    4715 non-null    object
 31  WORK_ZONE_TYPE                 3641 non-null    object
 32  WORKERS_PRESENT_I              1208 non-null    object
 33  NUM_UNITS                      828511 non-null  int64
 34  MOST_SEVERE_INJURY             826689 non-null  object
 35  INJURIES_TOTAL                 826702 non-null  float64
 36  INJURIES_FATAL                 826702 non-null  float64
 37  INJURIES_INCAPACITATING        826702 non-null  float64
 38  INJURIES_NON_INCAPACITATING    826702 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  826702 non-null  float64
 40  INJURIES_NO_INDICATION         826702 non-null  float64
 41  INJURIES_UNKNOWN               826702 non-null  float64
 42  CRASH_HOUR                     828511 non-null  int64
 43  CRASH_DAY_OF_WEEK              828511 non-null  int64
 44  CRASH_MONTH                    828511 non-null  int64
 45  LATITUDE                       822769 non-null  float64
 46  LONGITUDE                      822769 non-null  float64
 47  LOCATION                       822769 non-null  object
dtypes: float64(11), int64(6), object(31)
memory usage: 303.4+ MB

Keeping the project's prompt in mind, it looks like 'PRIM_CONTRIBUTORY_CAUSE' is our main target column.

As far as feature engineering goes, there are several different already-ohe'd categorical injury columns, maybe you add up all the ones with fatalities and bad injuries or something.

Next would be getting a feel for the column values where the data description isn't already obvious.

In [4]:
crashes_df['PRIM_CONTRIBUTORY_CAUSE'].value_counts()

PRIM_CONTRIBUTORY_CAUSE
UNABLE TO DETERMINE                                                                 322717
FAILING TO YIELD RIGHT-OF-WAY                                                        91120
FOLLOWING TOO CLOSELY                                                                80452
NOT APPLICABLE                                                                       43885
IMPROPER OVERTAKING/PASSING                                                          40874
FAILING TO REDUCE SPEED TO AVOID CRASH                                               34961
IMPROPER BACKING                                                                     32492
IMPROPER LANE USAGE                                                                  29635
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                  27817
IMPROPER TURNING/NO SIGNAL                                                           27539
DISREGARDING TRAFFIC SIGNALS                                                         16169
WEATHER                                                                              12496
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER     10542
DISREGARDING STOP SIGN                                                                8946
DISTRACTION - FROM INSIDE VEHICLE                                                     5660
EQUIPMENT - VEHICLE CONDITION                                                         5141
PHYSICAL CONDITION OF DRIVER                                                          4904
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                  4713
DRIVING ON WRONG SIDE/WRONG WAY                                                       4446
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                    3905
DISTRACTION - FROM OUTSIDE VEHICLE                                                    3379
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                              2020
EXCEEDING AUTHORIZED SPEED LIMIT                                                      1982
DISREGARDING OTHER TRAFFIC SIGNS                                                      1784
ROAD CONSTRUCTION/MAINTENANCE                                                         1753
EXCEEDING SAFE SPEED FOR CONDITIONS                                                   1684
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                     1519
CELL PHONE USE OTHER THAN TEXTING                                                     1094
DISREGARDING ROAD MARKINGS                                                            1004
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                        848
ANIMAL                                                                                 706
TURNING RIGHT ON RED                                                                   631
RELATED TO BUS STOP                                                                    412
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)            396
TEXTING                                                                                317
DISREGARDING YIELD SIGN                                                                271
PASSING STOPPED SCHOOL BUS                                                             101
OBSTRUCTED CROSSWALKS                                                                   92
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                  81
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                               23
Name: count, dtype: int64

In [5]:
len(crashes_df['PRIM_CONTRIBUTORY_CAUSE'].value_counts())

40

40 classes?!? Some of them occured fewer than 100 times! I guess I'd have to drop the 'UNABLE TO DETERMINE' and 'NOT APPLICABLE' rows. Then, I think I'd need to group the remaining 38 classes together somehow.

In [6]:
crashes_df['DEVICE_CONDITION'].value_counts()

DEVICE_CONDITION
NO CONTROLS                 476188
FUNCTIONING PROPERLY        283564
UNKNOWN                      55753
OTHER                         6336
FUNCTIONING IMPROPERLY        3890
NOT FUNCTIONING               2397
WORN REFLECTIVE MATERIAL       287
MISSING                         96
Name: count, dtype: int64

I had to look it up, but 'NO CONTROLS' refers to a traffic control device that doesn't change like a light would, but rather is a permanent fixture like a sign or road markings. I guess it's not surprising that the vast majority are in this category and then another huge chunk are at intersections where the light was working properly. Note a decent amount of 'UNKNOWN' entries here.

Next to check out is 'FIRST_CRASH_TYPE':

In [7]:
crashes_df['FIRST_CRASH_TYPE'].value_counts()

FIRST_CRASH_TYPE
PARKED MOTOR VEHICLE            192428
REAR END                        184855
SIDESWIPE SAME DIRECTION        126534
TURNING                         118537
ANGLE                            90173
FIXED OBJECT                     38930
PEDESTRIAN                       19330
PEDALCYCLIST                     12448
SIDESWIPE OPPOSITE DIRECTION     11666
OTHER OBJECT                      8216
REAR TO FRONT                     8094
HEAD ON                           7061
REAR TO SIDE                      4807
OTHER NONCOLLISION                2606
REAR TO REAR                      1676
ANIMAL                             596
OVERTURNED                         508
TRAIN                               46
Name: count, dtype: int64

I can't help but wonder whether this is a good *predictor* for an accident's primary cause when it describes the instance of the accident, not what happens beforehand. I guess we'll keep it for now.

In [8]:
crashes_df['TRAFFICWAY_TYPE'].value_counts()

TRAFFICWAY_TYPE
NOT DIVIDED                        359452
DIVIDED - W/MEDIAN (NOT RAISED)    132085
ONE-WAY                            105558
PARKING LOT                         56368
FOUR WAY                            53091
DIVIDED - W/MEDIAN BARRIER          47287
OTHER                               22646
ALLEY                               13690
T-INTERSECTION                      10660
UNKNOWN                              9656
CENTER TURN LANE                     5978
DRIVEWAY                             2691
RAMP                                 2595
UNKNOWN INTERSECTION TYPE            2455
Y-INTERSECTION                       1164
FIVE POINT, OR MORE                  1161
TRAFFIC ROUTE                         948
NOT REPORTED                          592
ROUNDABOUT                            262
L-INTERSECTION                        172
Name: count, dtype: int64

In [9]:
crashes_df['NOT_RIGHT_OF_WAY_I'].value_counts()

NOT_RIGHT_OF_WAY_I
Y    34674
N     3493
Name: count, dtype: int64

In [10]:
crashes_df['DAMAGE'].value_counts()

DAMAGE
OVER $1,500      515387
$501 - $1,500    218754
$500 OR LESS      94370
Name: count, dtype: int64

In [11]:
crashes_df['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
1834.0    10067
114.0      8490
813.0      8332
815.0      7899
1831.0     7678
          ...
1653.0      430
1655.0      260
1652.0      200
1650.0       69
6100.0        4
Name: count, Length: 276, dtype: int64

Now that I have a sense of what all these columns mean, it's time to consider which should be eliminated to help reduce dimensionality. This is especially important since so many of these columns will have to be one-hot encoded.

Since the goal of this project is to predict the *primary cause* of an accident, we might consider dropping those columns that inherently have nothing to do with a potential cause (such as 'DATE_POLICE_NOTIFIED', 'STREET NO', 'STREET NAME', 'PHOTOS TAKEN', 'STATEMENTS TAKEN', 'REPORT_TYPE') and/or only pertain to the effect (all the damage, injury, and fatality columns). We can also drop the 'SEC_CONTRIBUTORY_CAUSE' or we'll probably have a lot of multicollinearity issues.

There are a few redundant columns for our specific use case. 'LOCATION' just puts the latitude & longitude columns together. Since those two columns will provide location data *and* 'BEAT_OF_OCCURRENCE' has 276 categorical values, let's eliminate the beat column as well. Also, 'CRASH_DATE_EST_I' and 'CRASH_DATE' are broken down later via 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', and 'CRASH_MONTH'.

Finally, some columns are woefully empty; 'LANE_CNT', 'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DOORING_I', and all the work zone columns only have somewhere between 68.7-99% empty, which is grounds for dropping.

I'll keep 'CRASH_RECORD_ID' for now so I can join the 'people' & 'vehicles' tables later.

In [12]:
crashes_columns_to_drop = ['CRASH_DATE', 'CRASH_DATE_EST_I', 'REPORT_TYPE', 'DAMAGE', 'DATE_POLICE_NOTIFIED', 'SEC_CONTRIBUTORY_CAUSE',
                   'STREET_NO', 'STREET_NAME', 'BEAT_OF_OCCURRENCE', 'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'MOST_SEVERE_INJURY',
                   'INJURIES_TOTAL', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
                   'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION', 'INJURIES_UNKNOWN', 'LOCATION', 'LANE_CNT',
                   'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DOORING_I', 'WORK_ZONE_I', 'WORK_ZONE_TYPE',
                   'WORKERS_PRESENT_I']

In [14]:
crashes_df_refined = crashes_df.drop(crashes_columns_to_drop, axis=1)
crashes_df_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828511 entries, 0 to 828510
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          828511 non-null  object
 1   POSTED_SPEED_LIMIT       828511 non-null  int64
 2   TRAFFIC_CONTROL_DEVICE   828511 non-null  object
 3   DEVICE_CONDITION         828511 non-null  object
 4   WEATHER_CONDITION        828511 non-null  object
 5   LIGHTING_CONDITION       828511 non-null  object
 6   FIRST_CRASH_TYPE         828511 non-null  object
 7   TRAFFICWAY_TYPE          828511 non-null  object
 8   ALIGNMENT                828511 non-null  object
 9   ROADWAY_SURFACE_COND     828511 non-null  object
 10  ROAD_DEFECT              828511 non-null  object
 11  CRASH_TYPE               828511 non-null  object
 12  PRIM_CONTRIBUTORY_CAUSE  828511 non-null  object
 13  STREET_DIRECTION         828507 non-null  object
 14  NUM_UNITS                828511 non-null  int64
 15  CRASH_HOUR               828511 non-null  int64
 16  CRASH_DAY_OF_WEEK        828511 non-null  int64
 17  CRASH_MONTH              828511 non-null  int64
 18  LATITUDE                 822769 non-null  float64
 19  LONGITUDE                822769 non-null  float64
dtypes: float64(2), int64(5), object(13)
memory usage: 126.4+ MB

In [15]:
crashes_df_refined['CRASH_MONTH'].value_counts()

CRASH_MONTH
10    76801
9     72417
8     70898
12    70826
11    69265
7     68963
3     67797
6     67560
5     66531
4     66115
1     66059
2     65279
Name: count, dtype: int64

Now let's take care of the all the null values. The NaN's in 'LATITUDE' and 'LONGITUDE' amount to 0.007% and there are only four NaN's in 'STREET_DIRECTION' and wait, I should only do this once I join the other tables or we'll have missing record problems, so for now, let's one-hot encode the categorical columns.

Since this is a large dataset, I'll use a train-test-split as my validation strategy. In order to prevent overfitting, I'll use some form of regularization (I'll try different kinds and use what works best). Subsequently, I will not need to drop any columns when using one-hot encoding because regularization will take care of any singularity issues among the categorical variables BUT nevermind, **I don't ohe until after the tts.**

In [16]:
people_df = pd.read_csv('/content/drive/MyDrive/CPD_traffic_crashes-people-20240501.csv')
people_df.head(3)

<ipython-input-16-397f02225bc8>:1: DtypeWarning: Columns (19,23,24,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  people_df = pd.read_csv('/content/drive/MyDrive/CPD_traffic_crashes-people-20240501.csv')

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,M,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,X,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [17]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818705 entries, 0 to 1818704
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   PERSON_ID              object
 1   PERSON_TYPE            object
 2   CRASH_RECORD_ID        object
 3   VEHICLE_ID             float64
 4   CRASH_DATE             object
 5   SEAT_NO                float64
 6   CITY                   object
 7   STATE                  object
 8   ZIPCODE                object
 9   SEX                    object
 10  AGE                    float64
 11  DRIVERS_LICENSE_STATE  object
 12  DRIVERS_LICENSE_CLASS  object
 13  SAFETY_EQUIPMENT       object
 14  AIRBAG_DEPLOYED        object
 15  EJECTION               object
 16  INJURY_CLASSIFICATION  object
 17  HOSPITAL               object
 18  EMS_AGENCY             object
 19  EMS_RUN_NO             object
 20  DRIVER_ACTION          object
 21  DRIVER_VISION          object
 22  PHYSICAL_CONDITION     object
 23  PEDPEDAL_ACTION        object
 24  PEDPEDAL_VISIBILITY    object
 25  PEDPEDAL_LOCATION      object
 26  BAC_RESULT             object
 27  BAC_RESULT VALUE       float64
 28  CELL_PHONE_USE         object
dtypes: float64(4), object(25)
memory usage: 402.4+ MB

As with the crashes set, our first task is to understand and then reduce the columns we'll use. Specifically, we'll determine & eliminate those that don't necessarily pertain to the the *cause* of an accident, but rather the aftermath. In order to decrease dimensionality, we'll also drop categorical columns that have high cardinality and aren't likely to contribute much, like zipcodes or the state from which the drivers license was issued.

In [26]:
people_df['PERSON_TYPE'].value_counts()

PERSON_TYPE
DRIVER                 1415231
PASSENGER               367648
PEDESTRIAN               21244
BICYCLE                  12794
NON-MOTOR VEHICLE         1482
NON-CONTACT VEHICLE        306
Name: count, dtype: int64

In [18]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (people_df['DRIVER_ACTION'].value_counts())

DRIVER_ACTION
NONE                                 517295
UNKNOWN                              365078
FAILED TO YIELD                      131914
OTHER                                129661
FOLLOWED TOO CLOSELY                  85675
IMPROPER BACKING                      42948
IMPROPER TURN                         37980
IMPROPER LANE CHANGE                  37173
IMPROPER PASSING                      32369
DISREGARDED CONTROL DEVICES           25564
TOO FAST FOR CONDITIONS               21734
WRONG WAY/SIDE                         5813
IMPROPER PARKING                       5329
OVERCORRECTED                          2710
EVADING POLICE VEHICLE                 2304
CELL PHONE USE OTHER THAN TEXTING      2126
EMERGENCY VEHICLE ON CALL              1328
TEXTING                                 569
STOPPED SCHOOL BUS                      174
LICENSE RESTRICTIONS                     61
Name: count, dtype: int64

In [19]:
people_df['DRIVER_VISION'].value_counts()

DRIVER_VISION
NOT OBSCURED              731001
UNKNOWN                   681356
OTHER                      14386
MOVING VEHICLES             8198
PARKED VEHICLES             5044
WINDSHIELD (WATER/ICE)      3987
BLINDED - SUNLIGHT          1716
TREES, PLANTS                578
BUILDINGS                    516
BLINDED - HEADLIGHTS         155
BLOWING MATERIALS            102
HILLCREST                     96
EMBANKMENT                    83
SIGNBOARD                     35
Name: count, dtype: int64

Safety equipment almost certainly has an impact on injuries & fatalities, but if we're prioritizing an effort to minimize dimensions, then weighing whether they have an impact on the *cause* probably means we can drop this column.

'DRIVER_ACTION' can be dropped since it's pretty redundant when it comes to our target. 'DRIVER_VISION' categorizes whether and how the driver's vision was impeded, but its classes are almost enitrely either 'unobscured' or 'unknown', so I don't think it will helpful here. The same goes for 'PHYSICAL_CONDITION' where only a handful aren't either 'normal' or 'unknown'.

'PEDPEDAL_ACTION' refers to what a pedestrian or cyclist was doing if they were involved in the accident. This would be useful if we were just looking at such accidents, but we are investigating all traffic crashes. Let's see the extent to which these ped/pedal accidents make up the total:

In [20]:
pedpedal_action_vc = people_df['PEDPEDAL_ACTION'].value_counts()
pedpedal_action_vc_sum = sum(pedpedal_action_vc)
pedpedal_action_vc_sum / people_df.shape[0]

0.01903057395234521

It looks like this would only apply to less than 2% of the total rows, so it will only really add noise, so let's drop it along with 'PEDPEDAL_VISIBILITY' and 'PEDPEDAL_LOCATION'.

In [21]:
people_df['BAC_RESULT'].value_counts()

BAC_RESULT
TEST NOT OFFERED                   1427625
TEST REFUSED                         15087
TEST PERFORMED, RESULTS UNKNOWN       3496
TEST TAKEN                            2576
Name: count, dtype: int64

'BAC_RESULT' would be helpful but only a tiny percentage involve any tests taken, so it will not help here.

In [22]:
people_df['CELL_PHONE_USE'].value_counts()

CELL_PHONE_USE
Y    752
N    407
Name: count, dtype: int64

Unfortunately, 'CELL_PHONE_USE' doesn't show enough entries to be useful, either.

In [23]:
people_columns_to_drop = ['PERSON_ID', 'VEHICLE_ID', 'CRASH_DATE', 'SEAT_NO', 'STATE', 'ZIPCODE', 'DRIVERS_LICENSE_STATE',
                   'SAFETY_EQUIPMENT', 'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
                   'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION', 'PHYSICAL_CONDITION',
                   'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY', 'PEDPEDAL_LOCATION', 'BAC_RESULT',
                   'BAC_RESULT VALUE', 'CELL_PHONE_USE']

In [24]:
people_df_refined = people_df.drop(people_columns_to_drop, axis=1)
people_df_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818705 entries, 0 to 1818704
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   PERSON_TYPE            object
 1   CRASH_RECORD_ID        object
 2   SEAT_NO                float64
 3   CITY                   object
 4   SEX                    object
 5   AGE                    float64
 6   DRIVERS_LICENSE_CLASS  object
dtypes: float64(2), object(5)
memory usage: 97.1+ MB

Finally, let's examine the third part of this dataset on vehicles:

In [27]:
vehicles_df = pd.read_csv('/content/drive/MyDrive/CPD_traffic_crashes-vehicles-20240501.csv')
vehicles_df.head(3)

<ipython-input-27-41e6cc4e30a0>:1: DtypeWarning: Columns (20,39,40,41,43,47,48,49,52,54,57,58,60,70) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles_df = pd.read_csv('/content/drive/MyDrive/CPD_traffic_crashes-vehicles-20240501.csv')

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1717556,7b1763088507f77e0e552c009a6bf89a4d6330c7527706...,12/06/2023 03:24:00 PM,1,DRIVER,NaN,1634931.0,NaN,NISSAN,SENTRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717574,2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...,12/06/2023 04:00:00 PM,2,DRIVER,NaN,1634978.0,NaN,CHRYSLER,SEBRING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1717579,a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...,12/06/2023 04:30:00 PM,1,DRIVER,NaN,1634948.0,NaN,SUBARU,OUTBACK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
vehicles_df.shape

(1690173, 71)

In [29]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690173 entries, 0 to 1690172
Data columns (total 71 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1690173 non-null  int64
 1   CRASH_RECORD_ID           1690173 non-null  object
 2   CRASH_DATE                1690173 non-null  object
 3   UNIT_NO                   1690173 non-null  int64
 4   UNIT_TYPE                 1688017 non-null  object
 5   NUM_PASSENGERS            250022 non-null   float64
 6   VEHICLE_ID                1651514 non-null  float64
 7   CMRC_VEH_I                31452 non-null    object
 8   MAKE                      1651509 non-null  object
 9   MODEL                     1651364 non-null  object
 10  LIC_PLATE_STATE           1500227 non-null  object
 11  VEHICLE_YEAR              1386705 non-null  float64
 12  VEHICLE_DEFECT            1651514 non-null  object
 13  VEHICLE_TYPE              1651514 non-null  object
 14  VEHICLE_USE               1651514 non-null  object
 15  TRAVEL_DIRECTION          1651514 non-null  object
 16  MANEUVER                  1651514 non-null  object
 17  TOWED_I                   209740 non-null   object
 18  FIRE_I                    1386 non-null     object
 19  OCCUPANT_CNT              1651514 non-null  float64
 20  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 21  TOWED_BY                  157895 non-null   object
 22  TOWED_TO                  96940 non-null    object
 23  AREA_00_I                 57995 non-null    object
 24  AREA_01_I                 452249 non-null   object
 25  AREA_02_I                 267877 non-null   object
 26  AREA_03_I                 162047 non-null   object
 27  AREA_04_I                 161324 non-null   object
 28  AREA_05_I                 250638 non-null   object
 29  AREA_06_I                 264203 non-null   object
 30  AREA_07_I                 245121 non-null   object
 31  AREA_08_I                 239780 non-null   object
 32  AREA_09_I                 114554 non-null   object
 33  AREA_10_I                 166832 non-null   object
 34  AREA_11_I                 322911 non-null   object
 35  AREA_12_I                 315689 non-null   object
 36  AREA_99_I                 190763 non-null   object
 37  FIRST_CONTACT_POINT       1648389 non-null  object
 38  CMV_ID                    17193 non-null    float64
 39  USDOT_NO                  9649 non-null     object
 40  CCMC_NO                   2043 non-null     object
 41  ILCC_NO                   1408 non-null     object
 42  COMMERCIAL_SRC            11402 non-null    object
 43  GVWR                      9556 non-null     object
 44  CARRIER_NAME              16433 non-null    object
 45  CARRIER_STATE             15419 non-null    object
 46  CARRIER_CITY              15126 non-null    object
 47  HAZMAT_PLACARDS_I         332 non-null      object
 48  HAZMAT_NAME               60 non-null       object
 49  UN_NO                     574 non-null      object
 50  HAZMAT_PRESENT_I          12545 non-null    object
 51  HAZMAT_REPORT_I           12195 non-null    object
 52  HAZMAT_REPORT_NO          1 non-null        object
 53  MCS_REPORT_I              12244 non-null    object
 54  MCS_REPORT_NO             7 non-null        object
 55  HAZMAT_VIO_CAUSE_CRASH_I  12362 non-null    object
 56  MCS_VIO_CAUSE_CRASH_I     12155 non-null    object
 57  IDOT_PERMIT_NO            927 non-null      object
 58  WIDE_LOAD_I               152 non-null      object
 59  TRAILER1_WIDTH            2924 non-null     object
 60  TRAILER2_WIDTH            350 non-null      object
 61  TRAILER1_LENGTH           2359 non-null     float64
 62  TRAILER2_LENGTH           68 non-null       float64
 63  TOTAL_VEHICLE_LENGTH      2865 non-null     float64
 64  AXLE_CNT                  4306 non-null     float64
 65  VEHICLE_CONFIG            14240 non-null    object
 66  CARGO_BODY_TYPE           13608 non-null    object
 67  LOAD_TYPE                 13012 non-null    object
 68  HAZMAT_OUT_OF_SERVICE_I   11841 non-null    object
 69  MCS_OUT_OF_SERVICE_I      12090 non-null    object
 70  HAZMAT_CLASS              1105 non-null     object
dtypes: float64(9), int64(2), object(60)
memory usage: 915.5+ MB

Wow, that is a lot of columns. Fortunately, we can probably drop most of these if our main goal is determining the cause, but the dimensionality will quickly get out of hand if we keep certain columns.

The first column that doesn't appear too redundant or nan-prone is 'MAKE'.

In [30]:
vehicles_df['MAKE'].value_counts()[0:40]

MAKE
CHEVROLET                           191593
UNKNOWN                             164875
FORD                                164662
NISSAN                              133868
HONDA                               121197
TOYOTA                               93298
TOYOTA MOTOR COMPANY, LTD.           89215
DODGE                                71775
HYUNDAI                              69361
JEEP                                 68397
VOLKSWAGEN                           31901
CHRYSLER                             30012
BUICK                                27603
KIA                                  25821
LEXUS                                24882
MERCEDES-BENZ                        22974
BMW                                  21741
MAZDA                                21619
CADILLAC                             17858
KIA MOTORS CORP                      17582
SUBARU                               17324
INFINITI                             17217
ACURA                                16719
GENERAL MOTORS CORPORATION (GMC)     15924
PONTIAC                              15397
AUDI                                 13995
MITSUBISHI                           13802
GENERAL MOTORS CORP.                 12936
VOLVO                                 9713
LINCOLN                               6838
MERCURY                               6755
SATURN                                6562
NEW FLYER                             6049
LINCOLN-CONTINENTAL                   5989
FREIGHTLINER CORPORATION              5730
FREIGHTLINER CORP.                    5130
LAND ROVER                            4233
SCION                                 3467
TESLA                                 3324
ISUZU                                 2841
Name: count, dtype: int64

This reads like a list of the most common vehicle makes in the US and it would explode our features if we were to one-hot encode it.

In [32]:
vehicles_df['UNIT_TYPE'].value_counts()

UNIT_TYPE
DRIVER                 1415231
PARKED                  222855
PEDESTRIAN               21244
DRIVERLESS               13847
BICYCLE                  12794
NON-MOTOR VEHICLE         1482
NON-CONTACT VEHICLE        306
DISABLED VEHICLE           251
EQUESTRIAN                   7
Name: count, dtype: int64