In [59]:
#import pandas as pd
#from google.colab import drive
#drive.mount('/content/drive')

In [60]:
import json
import os
from pathlib import Path

# your api key
api_key = {
'username':"joelmott" ,
'key':"a9a024d51eb29560c5bcadee60ccfecd"}

# uses pathlib Path
kaggle_path = Path('/root/.kaggle')
os.makedirs(kaggle_path, exist_ok=True)

# opens file and dumps python dict to json object
with open (kaggle_path/'kaggle.json', 'w') as handl:
    json.dump(api_key,handl)

os.chmod(kaggle_path/'kaggle.json', 600)

In [61]:
import kaggle
#url = 'https://www.kaggle.com/datasets/joelmott/chicago-traffic-crashes-may-2024/data?select=CPD_traffic_crashes-crashes-20240501.csv'
#crashes_df = pd.read_csv(url, sep='\t')
#! kaggle datasets download joelmott/chicago-traffic-crashes-may-2024/data?select=CPD_traffic_crashes-crashes-20240501.csv
! kaggle datasets download joelmott/chicago-traffic-crashes-may-2024/

Dataset URL: https://www.kaggle.com/datasets/joelmott/chicago-traffic-crashes-may-2024/versions/
License(s): CC0-1.0
chicago-traffic-crashes-may-2024.zip: Skipping, found more recently modified local copy (use --force to force download)

In [62]:
#!unzip /content/chicago-traffic-crashes-may-2024.zip

Archive:  /content/chicago-traffic-crashes-may-2024.zip
replace CPD_traffic_crashes-crashes-20240501.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [63]:
import pandas as pd
crashes_df = pd.read_csv('/content/CPD_traffic_crashes-crashes-20240501.csv')
crashes_df

,CRASH_RECORD_ID,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,TRAFFICWAY_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,NaN,08/18/2023 12:50:00 PM,15,OTHER,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,OTHER,...,1.0,0.0,1.0,0.0,12,6,8,NaN,NaN,NaN
1,5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4...,NaN,07/29/2023 02:45:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,1.0,0.0,14,7,7,41.854120,-87.665902,POINT (-87.665902342962 41.854120262952)
2,61fcb8c1eb522a6469b460e2134df3d15f82e81fd93e9c...,NaN,08/18/2023 05:58:00 PM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDALCYCLIST,NOT DIVIDED,...,1.0,0.0,1.0,0.0,17,6,8,41.942976,-87.761883,POINT (-87.761883496974 41.942975745006)
3,004cd14d0303a9163aad69a2d7f341b7da2a8572b2ab33...,NaN,11/26/2019 08:38:00 AM,25,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PEDESTRIAN,ONE-WAY,...,0.0,0.0,1.0,0.0,8,3,11,NaN,NaN,NaN
4,a1d5f0ea90897745365a4cbb06cc60329a120d89753fac...,NaN,08/18/2023 10:45:00 AM,20,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,FIXED OBJECT,OTHER,...,0.0,0.0,1.0,0.0,10,6,8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828506,790a72494289861e0d12786c57659df0fcc3ff90df83a6...,Y,09/08/2020 03:10:00 PM,30,NO CONTROLS,NO CONTROLS,RAIN,DUSK,PARKED MOTOR VEHICLE,NOT DIVIDED,...,0.0,0.0,1.0,0.0,15,3,9,41.833010,-87.621878,POINT (-87.621877672023 41.833010486005)
828507,0c3ba5ebe2928b85f42ad69485a11977fef61a3a5b6b82...,NaN,08/18/2023 10:00:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,FOUR WAY,...,0.0,0.0,3.0,0.0,22,6,8,41.967890,-87.760938,POINT (-87.760938108098 41.967890005752)
828508,54d55bfcc6627f587abbe0d14c42e51b812f930566fb06...,NaN,12/28/2019 01:16:00 AM,35,UNKNOWN,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",PARKED MOTOR VEHICLE,ONE-WAY,...,0.0,0.0,1.0,0.0,1,7,12,41.685142,-87.628557,POINT (-87.628556919131 41.685141540233)
828509,fcf3c5ddd8ba79a1b43c039a2507b201c999d659aa85d3...,NaN,04/12/2020 07:10:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,DIVIDED - W/MEDIAN (NOT RAISED),...,0.0,0.0,2.0,0.0,7,1,4,41.847421,-87.612391,POINT (-87.61239120397 41.847420982326)
828510,f20453c5723af4ecc9c739665b2565af1529b4e705f63d...,NaN,05/17/2023 10:20:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,PARKED MOTOR VEHICLE,NOT DIVIDED,...,0.0,0.0,1.0,0.0,10,4,5,41.730122,-87.665759,POINT (-87.665759307455 41.73012224727)

In [64]:
#crashes_df = pd.read_csv('/content/drive/MyDrive/CPD_traffic_crashes-crashes-20240501.csv')
#crashes_df.head(3)

In [65]:
crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828511 entries, 0 to 828510
Data columns (total 48 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH_RECORD_ID                828511 non-null  object
 1   CRASH_DATE_EST_I               61842 non-null   object
 2   CRASH_DATE                     828511 non-null  object
 3   POSTED_SPEED_LIMIT             828511 non-null  int64
 4   TRAFFIC_CONTROL_DEVICE         828511 non-null  object
 5   DEVICE_CONDITION               828511 non-null  object
 6   WEATHER_CONDITION              828511 non-null  object
 7   LIGHTING_CONDITION             828511 non-null  object
 8   FIRST_CRASH_TYPE               828511 non-null  object
 9   TRAFFICWAY_TYPE                828511 non-null  object
 10  LANE_CNT                       199011 non-null  float64
 11  ALIGNMENT                      828511 non-null  object
 12  ROADWAY_SURFACE_COND           828511 non-null  object
 13  ROAD_DEFECT                    828511 non-null  object
 14  REPORT_TYPE                    803705 non-null  object
 15  CRASH_TYPE                     828511 non-null  object
 16  INTERSECTION_RELATED_I         189976 non-null  object
 17  NOT_RIGHT_OF_WAY_I             38167 non-null   object
 18  HIT_AND_RUN_I                  259413 non-null  object
 19  DAMAGE                         828511 non-null  object
 20  DATE_POLICE_NOTIFIED           828511 non-null  object
 21  PRIM_CONTRIBUTORY_CAUSE        828511 non-null  object
 22  SEC_CONTRIBUTORY_CAUSE         828511 non-null  object
 23  STREET_NO                      828511 non-null  int64
 24  STREET_DIRECTION               828507 non-null  object
 25  STREET_NAME                    828510 non-null  object
 26  BEAT_OF_OCCURRENCE             828506 non-null  float64
 27  PHOTOS_TAKEN_I                 10972 non-null   object
 28  STATEMENTS_TAKEN_I             18613 non-null   object
 29  DOORING_I                      2547 non-null    object
 30  WORK_ZONE_I                    4715 non-null    object
 31  WORK_ZONE_TYPE                 3641 non-null    object
 32  WORKERS_PRESENT_I              1208 non-null    object
 33  NUM_UNITS                      828511 non-null  int64
 34  MOST_SEVERE_INJURY             826689 non-null  object
 35  INJURIES_TOTAL                 826702 non-null  float64
 36  INJURIES_FATAL                 826702 non-null  float64
 37  INJURIES_INCAPACITATING        826702 non-null  float64
 38  INJURIES_NON_INCAPACITATING    826702 non-null  float64
 39  INJURIES_REPORTED_NOT_EVIDENT  826702 non-null  float64
 40  INJURIES_NO_INDICATION         826702 non-null  float64
 41  INJURIES_UNKNOWN               826702 non-null  float64
 42  CRASH_HOUR                     828511 non-null  int64
 43  CRASH_DAY_OF_WEEK              828511 non-null  int64
 44  CRASH_MONTH                    828511 non-null  int64
 45  LATITUDE                       822769 non-null  float64
 46  LONGITUDE                      822769 non-null  float64
 47  LOCATION                       822769 non-null  object
dtypes: float64(11), int64(6), object(31)
memory usage: 303.4+ MB

Keeping the project's prompt in mind, it looks like 'PRIM_CONTRIBUTORY_CAUSE' is our main target column.

As far as feature engineering goes, there are several different already-ohe'd categorical injury columns, maybe you add up all the ones with fatalities and bad injuries or something.

Next would be getting a feel for the column values where the data description isn't already obvious.

In [66]:
crashes_df['PRIM_CONTRIBUTORY_CAUSE'].value_counts()

PRIM_CONTRIBUTORY_CAUSE
UNABLE TO DETERMINE                                                                 322717
FAILING TO YIELD RIGHT-OF-WAY                                                        91120
FOLLOWING TOO CLOSELY                                                                80452
NOT APPLICABLE                                                                       43885
IMPROPER OVERTAKING/PASSING                                                          40874
FAILING TO REDUCE SPEED TO AVOID CRASH                                               34961
IMPROPER BACKING                                                                     32492
IMPROPER LANE USAGE                                                                  29635
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                  27817
IMPROPER TURNING/NO SIGNAL                                                           27539
DISREGARDING TRAFFIC SIGNALS                                                         16169
WEATHER                                                                              12496
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER     10542
DISREGARDING STOP SIGN                                                                8946
DISTRACTION - FROM INSIDE VEHICLE                                                     5660
EQUIPMENT - VEHICLE CONDITION                                                         5141
PHYSICAL CONDITION OF DRIVER                                                          4904
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                  4713
DRIVING ON WRONG SIDE/WRONG WAY                                                       4446
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                    3905
DISTRACTION - FROM OUTSIDE VEHICLE                                                    3379
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                              2020
EXCEEDING AUTHORIZED SPEED LIMIT                                                      1982
DISREGARDING OTHER TRAFFIC SIGNS                                                      1784
ROAD CONSTRUCTION/MAINTENANCE                                                         1753
EXCEEDING SAFE SPEED FOR CONDITIONS                                                   1684
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                     1519
CELL PHONE USE OTHER THAN TEXTING                                                     1094
DISREGARDING ROAD MARKINGS                                                            1004
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                        848
ANIMAL                                                                                 706
TURNING RIGHT ON RED                                                                   631
RELATED TO BUS STOP                                                                    412
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)            396
TEXTING                                                                                317
DISREGARDING YIELD SIGN                                                                271
PASSING STOPPED SCHOOL BUS                                                             101
OBSTRUCTED CROSSWALKS                                                                   92
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                  81
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                               23
Name: count, dtype: int64

In [67]:
len(crashes_df['PRIM_CONTRIBUTORY_CAUSE'].value_counts())

40

40 classes?!? Some of them occured fewer than 100 times! I guess I'd have to drop the 'UNABLE TO DETERMINE' and 'NOT APPLICABLE' rows. Then, I think I'd need to group the remaining 38 classes together somehow.

I'll work on that off-and-on while I continue to check out the remaining features in this crashes DataFrame. Let's start with 'TRAFFIC_CONTROL_DEVICE':

In [68]:
crashes_df['TRAFFIC_CONTROL_DEVICE'].value_counts()

TRAFFIC_CONTROL_DEVICE
NO CONTROLS                 470741
TRAFFIC SIGNAL              229645
STOP SIGN/FLASHER            82248
UNKNOWN                      33447
OTHER                         5623
LANE USE MARKING              1226
YIELD                         1218
OTHER REG. SIGN                932
OTHER WARNING SIGN             682
RAILROAD CROSSING GATE         536
PEDESTRIAN CROSSING SIGN       532
FLASHING CONTROL SIGNAL        334
DELINEATORS                    331
SCHOOL ZONE                    315
POLICE/FLAGMAN                 279
OTHER RAILROAD CROSSING        182
RR CROSSING SIGN               164
NO PASSING                      51
BICYCLE CROSSING SIGN           25
Name: count, dtype: int64

This feature seems to be almost enitrely made up of the classes 'no controls', 'traffic signal', 'stop sign/flasher', or 'unknown.' The rest are quite rare, relatively speaking. I think this could be a helpful column, but the distribution is really skewed, so in the interest of trimming features that may add more noise to our model when model interpretability is a priority, let's drop this one.

Let's move on to the 'DEVICE_CONDITION' feature:

In [69]:
crashes_df['DEVICE_CONDITION'].value_counts()

DEVICE_CONDITION
NO CONTROLS                 476188
FUNCTIONING PROPERLY        283564
UNKNOWN                      55753
OTHER                         6336
FUNCTIONING IMPROPERLY        3890
NOT FUNCTIONING               2397
WORN REFLECTIVE MATERIAL       287
MISSING                         96
Name: count, dtype: int64

I had to look it up, but 'NO CONTROLS' refers to a traffic control device that doesn't change like a light would, but rather is a permanent fixture like a sign or road markings. I guess it's not surprising that the vast majority are in this category and then another huge chunk are at intersections where the light was working properly. Note a decent amount of 'UNKNOWN' entries here. With only 3,890 functioning improperly compared to 759,752 either not having controls or working normally, I don't think this feature will be very helpful, so let's drop it.

Next to check out is 'FIRST_CRASH_TYPE':

In [70]:
crashes_df['FIRST_CRASH_TYPE'].value_counts()

FIRST_CRASH_TYPE
PARKED MOTOR VEHICLE            192428
REAR END                        184855
SIDESWIPE SAME DIRECTION        126534
TURNING                         118537
ANGLE                            90173
FIXED OBJECT                     38930
PEDESTRIAN                       19330
PEDALCYCLIST                     12448
SIDESWIPE OPPOSITE DIRECTION     11666
OTHER OBJECT                      8216
REAR TO FRONT                     8094
HEAD ON                           7061
REAR TO SIDE                      4807
OTHER NONCOLLISION                2606
REAR TO REAR                      1676
ANIMAL                             596
OVERTURNED                         508
TRAIN                               46
Name: count, dtype: int64

I can't help but wonder whether this is a good *predictor* for an accident's primary cause when it describes the instance of the accident, not what happens beforehand. It turns out that, later on, we'll find a better column for this in the vehicles DataFrame ('MANEUVER') that will describe the action that led to the accident, so let's drop this column in favor of that one.

The following 'TRAFFICWAY_TYPE' column looks useful as well, but it has so many classes that, along with the other useful features we'll eventually find, it'll wind up adding a lot of noise to our data with the sparsity that will result once it's one-hot encoded.

In [71]:
crashes_df['TRAFFICWAY_TYPE'].value_counts()

TRAFFICWAY_TYPE
NOT DIVIDED                        359452
DIVIDED - W/MEDIAN (NOT RAISED)    132085
ONE-WAY                            105558
PARKING LOT                         56368
FOUR WAY                            53091
DIVIDED - W/MEDIAN BARRIER          47287
OTHER                               22646
ALLEY                               13690
T-INTERSECTION                      10660
UNKNOWN                              9656
CENTER TURN LANE                     5978
DRIVEWAY                             2691
RAMP                                 2595
UNKNOWN INTERSECTION TYPE            2455
Y-INTERSECTION                       1164
FIVE POINT, OR MORE                  1161
TRAFFIC ROUTE                         948
NOT REPORTED                          592
ROUNDABOUT                            262
L-INTERSECTION                        172
Name: count, dtype: int64

'ALIGNMENT' has a distribution issue with the top class making up almost 98% of this feature, so it won't be too helpful.

In [72]:
crashes_df['ALIGNMENT'].value_counts()

ALIGNMENT
STRAIGHT AND LEVEL       808482
STRAIGHT ON GRADE         10279
CURVE, LEVEL               5971
STRAIGHT ON HILLCREST      2169
CURVE ON GRADE             1243
CURVE ON HILLCREST          367
Name: count, dtype: int64

'CRASH_TYPE' would make for a helpful target column if we were interested in less serious versus more serious accidents, but we're looking into the cause of *all* accidents and this column ultimately describes the aftermath, not the cause, so we'll drop for this particular use case.

In [73]:
crashes_df['CRASH_TYPE'].value_counts()

CRASH_TYPE
NO INJURY / DRIVE AWAY              607050
INJURY AND / OR TOW DUE TO CRASH    221461
Name: count, dtype: int64

The following column covers whether a right-of-way violation occured, but that's in our target variable, so we should eliminate this one.

In [74]:
crashes_df['NOT_RIGHT_OF_WAY_I'].value_counts()

NOT_RIGHT_OF_WAY_I
Y    34674
N     3493
Name: count, dtype: int64

The 'DAMAGE' column refers to the aftermath, not the cause, so this can be dropped.

In [75]:
crashes_df['DAMAGE'].value_counts()

DAMAGE
OVER $1,500      515387
$501 - $1,500    218754
$500 OR LESS      94370
Name: count, dtype: int64

These 'BEAT_OF_OCCURANCE' classes are categorical even if they're listed here as numbers. Subsequently, they would need to be one-hot encoded, and there are just far too many of them for that, so we'll have to drop this column as well.

In [76]:
crashes_df['BEAT_OF_OCCURRENCE'].value_counts()

BEAT_OF_OCCURRENCE
1834.0    10067
114.0      8490
813.0      8332
815.0      7899
1831.0     7678
          ...
1653.0      430
1655.0      260
1652.0      200
1650.0       69
6100.0        4
Name: count, Length: 276, dtype: int64

Now that I have a sense of what all these columns mean, it's time to consider which should be eliminated to help reduce dimensionality. This is especially important since so many of these columns will have to be one-hot encoded.

Since the goal of this project is to predict the *primary cause* of an accident, we might consider dropping those columns that inherently have nothing to do with a potential cause (such as 'DATE_POLICE_NOTIFIED', 'STREET NO', 'STREET NAME', 'PHOTOS TAKEN', 'STATEMENTS TAKEN', 'REPORT_TYPE') and/or only pertain to the effect (all the damage, injury, and fatality columns). We can also drop the 'SEC_CONTRIBUTORY_CAUSE' or we'll probably have a lot of multicollinearity issues.

There are a few redundant columns for our specific use case. 'LOCATION' just puts the latitude & longitude columns together. Since those two columns will provide location data *and* 'BEAT_OF_OCCURRENCE' has 276 categorical values, let's eliminate the beat column as well. Also, 'CRASH_DATE_EST_I' and 'CRASH_DATE' are broken down later via 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', and 'CRASH_MONTH'.

Finally, some columns are woefully empty; 'LANE_CNT', 'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DOORING_I', and all the work zone columns only have somewhere between 68.7-99% empty, which is grounds for dropping.

I'll keep 'CRASH_RECORD_ID' for now so I can join the 'people' & 'vehicles' tables later.

In [77]:
crashes_columns_to_drop = ['CRASH_DATE', 'CRASH_DATE_EST_I', 'DEVICE_CONDITION', 'FIRST_CRASH_TYPE', 'CRASH_TYPE',
                           'REPORT_TYPE', 'DAMAGE', 'DATE_POLICE_NOTIFIED', 'SEC_CONTRIBUTORY_CAUSE',
                           'TRAFFIC_CONTROL_DEVICE', 'STREET_NO', 'STREET_NAME', 'BEAT_OF_OCCURRENCE', 'PHOTOS_TAKEN_I',
                           'STATEMENTS_TAKEN_I', 'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
                           'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT',
                           'INJURIES_NO_INDICATION', 'INJURIES_UNKNOWN', 'LOCATION', 'LANE_CNT', 'ALIGNMENT',
                           'INTERSECTION_RELATED_I', 'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DOORING_I',
                           'WORK_ZONE_I', 'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'TRAFFICWAY_TYPE']

In [78]:
crashes_df_refined = crashes_df.drop(crashes_columns_to_drop, axis=1)
crashes_df_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828511 entries, 0 to 828510
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CRASH_RECORD_ID          828511 non-null  object
 1   POSTED_SPEED_LIMIT       828511 non-null  int64
 2   WEATHER_CONDITION        828511 non-null  object
 3   LIGHTING_CONDITION       828511 non-null  object
 4   ROADWAY_SURFACE_COND     828511 non-null  object
 5   ROAD_DEFECT              828511 non-null  object
 6   PRIM_CONTRIBUTORY_CAUSE  828511 non-null  object
 7   STREET_DIRECTION         828507 non-null  object
 8   NUM_UNITS                828511 non-null  int64
 9   CRASH_HOUR               828511 non-null  int64
 10  CRASH_DAY_OF_WEEK        828511 non-null  int64
 11  CRASH_MONTH              828511 non-null  int64
 12  LATITUDE                 822769 non-null  float64
 13  LONGITUDE                822769 non-null  float64
dtypes: float64(2), int64(5), object(7)
memory usage: 88.5+ MB

Now let's take care of the all the null values. The NaN's in 'LATITUDE' and 'LONGITUDE' amount to 0.007% and there are only four NaN's in 'STREET_DIRECTION' and wait, I should only do this once I join the other tables or we'll have missing record problems, so for now, let's one-hot encode the categorical columns.

Since this is a large dataset, I'll use a train-test-split as my validation strategy. In order to prevent overfitting, I'll use some form of regularization (I'll try different kinds and use what works best). Subsequently, I will not need to drop any columns when using one-hot encoding because regularization will take care of any singularity issues among the categorical variables BUT nevermind, **I don't ohe until after the tts.**

In [79]:
people_df = pd.read_csv('/content/CPD_traffic_crashes-people-20240501.csv')
people_df.head(3)

<ipython-input-79-26241325ca0e>:1: DtypeWarning: Columns (19,23,24,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  people_df = pd.read_csv('/content/CPD_traffic_crashes-people-20240501.csv')

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,SEX,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,M,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,M,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,X,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [80]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818705 entries, 0 to 1818704
Data columns (total 29 columns):
 #   Column                 Dtype
---  ------                 -----
 0   PERSON_ID              object
 1   PERSON_TYPE            object
 2   CRASH_RECORD_ID        object
 3   VEHICLE_ID             float64
 4   CRASH_DATE             object
 5   SEAT_NO                float64
 6   CITY                   object
 7   STATE                  object
 8   ZIPCODE                object
 9   SEX                    object
 10  AGE                    float64
 11  DRIVERS_LICENSE_STATE  object
 12  DRIVERS_LICENSE_CLASS  object
 13  SAFETY_EQUIPMENT       object
 14  AIRBAG_DEPLOYED        object
 15  EJECTION               object
 16  INJURY_CLASSIFICATION  object
 17  HOSPITAL               object
 18  EMS_AGENCY             object
 19  EMS_RUN_NO             object
 20  DRIVER_ACTION          object
 21  DRIVER_VISION          object
 22  PHYSICAL_CONDITION     object
 23  PEDPEDAL_ACTION        object
 24  PEDPEDAL_VISIBILITY    object
 25  PEDPEDAL_LOCATION      object
 26  BAC_RESULT             object
 27  BAC_RESULT VALUE       float64
 28  CELL_PHONE_USE         object
dtypes: float64(4), object(25)
memory usage: 402.4+ MB

As with the crashes set, our first task is to understand and then reduce the columns we'll use. Specifically, we'll determine & eliminate those that don't necessarily pertain to the the *cause* of an accident, but rather the aftermath. In order to decrease dimensionality, we'll also drop categorical columns that have high cardinality and aren't likely to contribute much, like zipcodes or the state from which the drivers license was issued.

In [81]:
people_df['PERSON_TYPE'].value_counts()

PERSON_TYPE
DRIVER                 1415231
PASSENGER               367648
PEDESTRIAN               21244
BICYCLE                  12794
NON-MOTOR VEHICLE         1482
NON-CONTACT VEHICLE        306
Name: count, dtype: int64

In [82]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print (people_df['DRIVER_ACTION'].value_counts())

DRIVER_ACTION
NONE                                 517295
UNKNOWN                              365078
FAILED TO YIELD                      131914
OTHER                                129661
FOLLOWED TOO CLOSELY                  85675
IMPROPER BACKING                      42948
IMPROPER TURN                         37980
IMPROPER LANE CHANGE                  37173
IMPROPER PASSING                      32369
DISREGARDED CONTROL DEVICES           25564
TOO FAST FOR CONDITIONS               21734
WRONG WAY/SIDE                         5813
IMPROPER PARKING                       5329
OVERCORRECTED                          2710
EVADING POLICE VEHICLE                 2304
CELL PHONE USE OTHER THAN TEXTING      2126
EMERGENCY VEHICLE ON CALL              1328
TEXTING                                 569
STOPPED SCHOOL BUS                      174
LICENSE RESTRICTIONS                     61
Name: count, dtype: int64

In [83]:
people_df['DRIVER_VISION'].value_counts()

DRIVER_VISION
NOT OBSCURED              731001
UNKNOWN                   681356
OTHER                      14386
MOVING VEHICLES             8198
PARKED VEHICLES             5044
WINDSHIELD (WATER/ICE)      3987
BLINDED - SUNLIGHT          1716
TREES, PLANTS                578
BUILDINGS                    516
BLINDED - HEADLIGHTS         155
BLOWING MATERIALS            102
HILLCREST                     96
EMBANKMENT                    83
SIGNBOARD                     35
Name: count, dtype: int64

Safety equipment almost certainly has an impact on injuries & fatalities, but if we're prioritizing an effort to minimize dimensions, then weighing whether they have an impact on the *cause* probably means we can drop this column.

'DRIVER_ACTION' can be dropped since it's pretty redundant when it comes to our target. 'DRIVER_VISION' categorizes whether and how the driver's vision was impeded, but its classes are almost enitrely either 'unobscured' or 'unknown', so I don't think it will helpful here. The same goes for 'PHYSICAL_CONDITION' where only a handful aren't either 'normal' or 'unknown'.

'PEDPEDAL_ACTION' refers to what a pedestrian or cyclist was doing if they were involved in the accident. This would be useful if we were just looking at such accidents, but we are investigating all traffic crashes. Let's see the extent to which these ped/pedal accidents make up the total:

In [84]:
pedpedal_action_vc = people_df['PEDPEDAL_ACTION'].value_counts()
pedpedal_action_vc_sum = sum(pedpedal_action_vc)
pedpedal_action_vc_sum / people_df.shape[0]

0.01903057395234521

It looks like this would only apply to less than 2% of the total rows, so it will only really add noise, so let's drop it along with 'PEDPEDAL_VISIBILITY' and 'PEDPEDAL_LOCATION'.

In [85]:
people_df['BAC_RESULT'].value_counts()

BAC_RESULT
TEST NOT OFFERED                   1427625
TEST REFUSED                         15087
TEST PERFORMED, RESULTS UNKNOWN       3496
TEST TAKEN                            2576
Name: count, dtype: int64

'BAC_RESULT' would be helpful but only a tiny percentage involve any tests taken, so it will not help here.

In [86]:
people_df['CELL_PHONE_USE'].value_counts()

CELL_PHONE_USE
Y    752
N    407
Name: count, dtype: int64

Unfortunately, 'CELL_PHONE_USE' doesn't show enough entries to be useful, either. With that, we have at least a good starting list of columns to drop, so let's drop them and move on to the last part of this dataset.

In [87]:
people_columns_to_drop = ['PERSON_ID', 'VEHICLE_ID', 'CRASH_DATE', 'SEAT_NO', 'STATE', 'ZIPCODE', 'DRIVERS_LICENSE_STATE',
                   'SAFETY_EQUIPMENT', 'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
                   'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION', 'PHYSICAL_CONDITION',
                   'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY', 'PEDPEDAL_LOCATION', 'BAC_RESULT',
                   'BAC_RESULT VALUE', 'CELL_PHONE_USE']

In [88]:
people_df_refined = people_df.drop(people_columns_to_drop, axis=1)
people_df_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1818705 entries, 0 to 1818704
Data columns (total 6 columns):
 #   Column                 Dtype
---  ------                 -----
 0   PERSON_TYPE            object
 1   CRASH_RECORD_ID        object
 2   CITY                   object
 3   SEX                    object
 4   AGE                    float64
 5   DRIVERS_LICENSE_CLASS  object
dtypes: float64(1), object(5)
memory usage: 83.3+ MB

Finally, let's examine the third part of this dataset on vehicles:

In [89]:
vehicles_df = pd.read_csv('/content/CPD_traffic_crashes-vehicles-20240501.csv')
vehicles_df.head(3)

<ipython-input-89-04261ed8d1c9>:1: DtypeWarning: Columns (20,39,40,41,43,47,48,49,52,54,57,58,60,70) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles_df = pd.read_csv('/content/CPD_traffic_crashes-vehicles-20240501.csv')

,CRASH_UNIT_ID,CRASH_RECORD_ID,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,MODEL,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1717556,7b1763088507f77e0e552c009a6bf89a4d6330c7527706...,12/06/2023 03:24:00 PM,1,DRIVER,NaN,1634931.0,NaN,NISSAN,SENTRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1717574,2603ff5a88f0b9b54576934c5ed4e4a64e8278e005687b...,12/06/2023 04:00:00 PM,2,DRIVER,NaN,1634978.0,NaN,CHRYSLER,SEBRING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1717579,a52ef70e33d468b855b5be44e8638a564434dcf99c0edf...,12/06/2023 04:30:00 PM,1,DRIVER,NaN,1634948.0,NaN,SUBARU,OUTBACK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
vehicles_df.shape

(1690173, 71)

In [91]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690173 entries, 0 to 1690172
Data columns (total 71 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   CRASH_UNIT_ID             1690173 non-null  int64
 1   CRASH_RECORD_ID           1690173 non-null  object
 2   CRASH_DATE                1690173 non-null  object
 3   UNIT_NO                   1690173 non-null  int64
 4   UNIT_TYPE                 1688017 non-null  object
 5   NUM_PASSENGERS            250022 non-null   float64
 6   VEHICLE_ID                1651514 non-null  float64
 7   CMRC_VEH_I                31452 non-null    object
 8   MAKE                      1651509 non-null  object
 9   MODEL                     1651364 non-null  object
 10  LIC_PLATE_STATE           1500227 non-null  object
 11  VEHICLE_YEAR              1386705 non-null  float64
 12  VEHICLE_DEFECT            1651514 non-null  object
 13  VEHICLE_TYPE              1651514 non-null  object
 14  VEHICLE_USE               1651514 non-null  object
 15  TRAVEL_DIRECTION          1651514 non-null  object
 16  MANEUVER                  1651514 non-null  object
 17  TOWED_I                   209740 non-null   object
 18  FIRE_I                    1386 non-null     object
 19  OCCUPANT_CNT              1651514 non-null  float64
 20  EXCEED_SPEED_LIMIT_I      2397 non-null     object
 21  TOWED_BY                  157895 non-null   object
 22  TOWED_TO                  96940 non-null    object
 23  AREA_00_I                 57995 non-null    object
 24  AREA_01_I                 452249 non-null   object
 25  AREA_02_I                 267877 non-null   object
 26  AREA_03_I                 162047 non-null   object
 27  AREA_04_I                 161324 non-null   object
 28  AREA_05_I                 250638 non-null   object
 29  AREA_06_I                 264203 non-null   object
 30  AREA_07_I                 245121 non-null   object
 31  AREA_08_I                 239780 non-null   object
 32  AREA_09_I                 114554 non-null   object
 33  AREA_10_I                 166832 non-null   object
 34  AREA_11_I                 322911 non-null   object
 35  AREA_12_I                 315689 non-null   object
 36  AREA_99_I                 190763 non-null   object
 37  FIRST_CONTACT_POINT       1648389 non-null  object
 38  CMV_ID                    17193 non-null    float64
 39  USDOT_NO                  9649 non-null     object
 40  CCMC_NO                   2043 non-null     object
 41  ILCC_NO                   1408 non-null     object
 42  COMMERCIAL_SRC            11402 non-null    object
 43  GVWR                      9556 non-null     object
 44  CARRIER_NAME              16433 non-null    object
 45  CARRIER_STATE             15419 non-null    object
 46  CARRIER_CITY              15126 non-null    object
 47  HAZMAT_PLACARDS_I         332 non-null      object
 48  HAZMAT_NAME               60 non-null       object
 49  UN_NO                     574 non-null      object
 50  HAZMAT_PRESENT_I          12545 non-null    object
 51  HAZMAT_REPORT_I           12195 non-null    object
 52  HAZMAT_REPORT_NO          1 non-null        object
 53  MCS_REPORT_I              12244 non-null    object
 54  MCS_REPORT_NO             7 non-null        object
 55  HAZMAT_VIO_CAUSE_CRASH_I  12362 non-null    object
 56  MCS_VIO_CAUSE_CRASH_I     12155 non-null    object
 57  IDOT_PERMIT_NO            927 non-null      object
 58  WIDE_LOAD_I               152 non-null      object
 59  TRAILER1_WIDTH            2924 non-null     object
 60  TRAILER2_WIDTH            350 non-null      object
 61  TRAILER1_LENGTH           2359 non-null     float64
 62  TRAILER2_LENGTH           68 non-null       float64
 63  TOTAL_VEHICLE_LENGTH      2865 non-null     float64
 64  AXLE_CNT                  4306 non-null     float64
 65  VEHICLE_CONFIG            14240 non-null    object
 66  CARGO_BODY_TYPE           13608 non-null    object
 67  LOAD_TYPE                 13012 non-null    object
 68  HAZMAT_OUT_OF_SERVICE_I   11841 non-null    object
 69  MCS_OUT_OF_SERVICE_I      12090 non-null    object
 70  HAZMAT_CLASS              1105 non-null     object
dtypes: float64(9), int64(2), object(60)
memory usage: 915.5+ MB

The first column that doesn't look too redundant is 'UNIT_TYPE':

In [92]:
vehicles_df['UNIT_TYPE'].value_counts()

UNIT_TYPE
DRIVER                 1415231
PARKED                  222855
PEDESTRIAN               21244
DRIVERLESS               13847
BICYCLE                  12794
NON-MOTOR VEHICLE         1482
NON-CONTACT VEHICLE        306
DISABLED VEHICLE           251
EQUESTRIAN                   7
Name: count, dtype: int64

Almost everything here is either a driver-driven vehicle or a parked one, so I'll probabl drop this one because I think we may find a more useful designation once we get to 'VEHICLE_TYPE'. Anyway, I hope those seven horses in the 'EQUESTRIAN' class were okay.

The next one to consider would be 'MAKE', but it turns out to have *way* too many different values and the resulting sparsity from the one-hot encoded columns would just add a lot of noise to our model.

In [93]:
len(vehicles_df['MAKE'].value_counts())

1335

I'm sure the 'MODEL' column would be even worse in this regard, so let's drop them both and search for primary causes elsewhere in the name of model interpretability.

In [94]:
vehicles_df['VEHICLE_DEFECT'].value_counts()

VEHICLE_DEFECT
NONE                892456
UNKNOWN             741379
OTHER                 9406
BRAKES                5177
TIRES                  839
STEERING               748
WHEELS                 419
SUSPENSION             269
FUEL SYSTEM            233
ENGINE/MOTOR           210
WINDOWS                111
LIGHTS                 101
CARGO                   57
SIGNALS                 42
RESTRAINT SYSTEM        25
TRAILER COUPLING        23
EXHAUST                 19
Name: count, dtype: int64

With almost every class being 'none' or 'unknown', this column won't help.

In [95]:
vehicles_df['VEHICLE_TYPE'].value_counts()

VEHICLE_TYPE
PASSENGER                                 1038710
SPORT UTILITY VEHICLE (SUV)                226692
UNKNOWN/NA                                 152665
VAN/MINI-VAN                                78278
PICKUP                                      53326
TRUCK - SINGLE UNIT                         31040
OTHER                                       19918
BUS OVER 15 PASS.                           17739
TRACTOR W/ SEMI-TRAILER                     15661
BUS UP TO 15 PASS.                           4659
MOTORCYCLE (OVER 150CC)                      3869
SINGLE UNIT TRUCK WITH TRAILER               2734
OTHER VEHICLE WITH TRAILER                   2253
TRACTOR W/O SEMI-TRAILER                     2069
AUTOCYCLE                                     669
MOPED OR MOTORIZED BICYCLE                    544
MOTOR DRIVEN CYCLE                            328
ALL-TERRAIN VEHICLE (ATV)                     182
FARM EQUIPMENT                                 84
3-WHEELED MOTORCYCLE (2 REAR WHEELS)           61
RECREATIONAL OFF-HIGHWAY VEHICLE (ROV)         25
SNOWMOBILE                                      8
Name: count, dtype: int64

With 60% of new-vhecile registrations in the US being SUVs in 2023 and this dataset only going back to 2015, I find it hard to believe that SUV's are outnumbered at almost 4-to-1 in this count. I'm getting worried about this dataset's viability.

For the sake of brevity, 'VEHICLE_USE' is all either 'personal' or 'unknown' or 'not in use', so it won't be of much help.

'TRAVEL_DIRECTION' may prove useful, but the cardinal directions (NSEW) are all *much* more frequent than the intermediate ones, so we'll just keep those rows with cardinals.

'MANEUVER' seems to be a really useful column when it comes to the primary cause of an accident, so we'll keep it, but we'll drop the rows that are 'unknown', 'other', or occured less than 1,000 times.

In [96]:
vehicles_df['MANEUVER'].value_counts()

MANEUVER
STRAIGHT AHEAD                        761499
PARKED                                227171
UNKNOWN/NA                            126724
SLOW/STOP IN TRAFFIC                  122016
TURNING LEFT                           98255
BACKING                                66781
TURNING RIGHT                          54715
PASSING/OVERTAKING                     40106
CHANGING LANES                         31673
OTHER                                  27722
ENTERING TRAFFIC LANE FROM PARKING     19410
MERGING                                11451
U-TURN                                  9411
STARTING IN TRAFFIC                     9341
LEAVING TRAFFIC LANE TO PARK            7925
AVOIDING VEHICLES/OBJECTS               6988
SKIDDING/CONTROL LOSS                   6296
ENTER FROM DRIVE/ALLEY                  6001
PARKED IN TRAFFIC LANE                  5091
SLOW/STOP - LEFT TURN                   3042
DRIVING WRONG WAY                       2452
NEGOTIATING A CURVE                     2077
SLOW/STOP - RIGHT TURN                  1929
SLOW/STOP - LOAD/UNLOAD                 1663
TURNING ON RED                           635
DRIVERLESS                               627
DIVERGING                                260
DISABLED                                 253
Name: count, dtype: int64

Let's also examine 'FIRST_CONTACT_POINT':

In [97]:
vehicles_df['FIRST_CONTACT_POINT'].value_counts()

FIRST_CONTACT_POINT
FRONT                 323891
REAR                  218038
UNKNOWN               157277
SIDE-LEFT             113074
SIDE-RIGHT            107560
FRONT-LEFT-CORNER     104177
FRONT-RIGHT-CORNER    102005
FRONT-LEFT             81524
FRONT-RIGHT            76903
REAR-LEFT              68088
REAR-LEFT-CORNER       46318
OTHER                  41017
REAR-RIGHT             36488
REAR-RIGHT-CORNER      33782
TOTAL (ALL AREAS)      27475
SIDE-LEFT-REAR         26325
SIDE-RIGHT-REAR        19947
SIDE-LEFT-FRONT        17038
SIDE-RIGHT-FRONT       14665
NONE                   13141
ROOF                   11958
UNDER CARRIAGE          5728
TOP                     1970
Name: count, dtype: int64

This would be useful, but it's a little redundant and lengthy when compared to the crashes_df column 'FIRST_CRASH_TYPE.' The remaining columns are all too filled with NaN's, so we now have a short list of columns to keep:

In [98]:
vehicles_df_columns_to_keep = ['CRASH_RECORD_ID', 'TRAVEL_DIRECTION', 'MANEUVER']

In [99]:
vehicles_df_refined = vehicles_df[vehicles_df_columns_to_keep]
vehicles_df_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690173 entries, 0 to 1690172
Data columns (total 3 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   CRASH_RECORD_ID   1690173 non-null  object
 1   TRAVEL_DIRECTION  1651514 non-null  object
 2   MANEUVER          1651514 non-null  object
dtypes: object(3)
memory usage: 38.7+ MB

Now we can merge these more managable, concise DataFrames together and then begin removing the rows mentioned above.

In [100]:
#First, we'll merge the crashes & people df's:
merged_crashes = pd.merge(left=crashes_df_refined,
                          right=people_df_refined,
                          left_on='CRASH_RECORD_ID',
                          right_on='CRASH_RECORD_ID')

#Now the newly merged df and the vehicles one:
merged_crashes = pd.merge(left=merged_crashes,
                          right=vehicles_df_refined,
                          left_on='CRASH_RECORD_ID',
                          right_on='CRASH_RECORD_ID')

merged_crashes.head()

,CRASH_RECORD_ID,POSTED_SPEED_LIMIT,WEATHER_CONDITION,LIGHTING_CONDITION,ROADWAY_SURFACE_COND,ROAD_DEFECT,PRIM_CONTRIBUTORY_CAUSE,STREET_DIRECTION,NUM_UNITS,CRASH_HOUR,...,CRASH_MONTH,LATITUDE,LONGITUDE,PERSON_TYPE,CITY,SEX,AGE,DRIVERS_LICENSE_CLASS,TRAVEL_DIRECTION,MANEUVER
0,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,15,CLEAR,DAYLIGHT,DRY,NO DEFECTS,FOLLOWING TOO CLOSELY,W,2,12,...,8,NaN,NaN,DRIVER,CHICAGO,M,45.0,D,W,STRAIGHT AHEAD
1,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,15,CLEAR,DAYLIGHT,DRY,NO DEFECTS,FOLLOWING TOO CLOSELY,W,2,12,...,8,NaN,NaN,DRIVER,CHICAGO,M,45.0,D,W,STRAIGHT AHEAD
2,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,15,CLEAR,DAYLIGHT,DRY,NO DEFECTS,FOLLOWING TOO CLOSELY,W,2,12,...,8,NaN,NaN,DRIVER,WEST CHICAGO,M,69.0,DM,W,STRAIGHT AHEAD
3,6c1659069e9c6285a650e70d6f9b574ed5f64c12888479...,15,CLEAR,DAYLIGHT,DRY,NO DEFECTS,FOLLOWING TOO CLOSELY,W,2,12,...,8,NaN,NaN,DRIVER,WEST CHICAGO,M,69.0,DM,W,STRAIGHT AHEAD
4,5f54a59fcb087b12ae5b1acff96a3caf4f2d37e79f8db4...,30,CLEAR,DAYLIGHT,DRY,NO DEFECTS,FAILING TO REDUCE SPEED TO AVOID CRASH,S,4,14,...,7,41.85412,-87.665902,DRIVER,NaN,X,NaN,NaN,E,TURNING RIGHT

I can already tell we'll have way to many columns once I one-hot encode these. Let's go back and see what other columns we can drop.

In [101]:
merged_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3821303 entries, 0 to 3821302
Data columns (total 21 columns):
 #   Column                   Dtype
---  ------                   -----
 0   CRASH_RECORD_ID          object
 1   POSTED_SPEED_LIMIT       int64
 2   WEATHER_CONDITION        object
 3   LIGHTING_CONDITION       object
 4   ROADWAY_SURFACE_COND     object
 5   ROAD_DEFECT              object
 6   PRIM_CONTRIBUTORY_CAUSE  object
 7   STREET_DIRECTION         object
 8   NUM_UNITS                int64
 9   CRASH_HOUR               int64
 10  CRASH_DAY_OF_WEEK        int64
 11  CRASH_MONTH              int64
 12  LATITUDE                 float64
 13  LONGITUDE                float64
 14  PERSON_TYPE              object
 15  CITY                     object
 16  SEX                      object
 17  AGE                      float64
 18  DRIVERS_LICENSE_CLASS    object
 19  TRAVEL_DIRECTION         object
 20  MANEUVER                 object
dtypes: float64(3), int64(5), object(13)
memory usage: 612.2+ MB

This is a start, but there will still be too many columns once the categorical features are preprocessed. Let's refine these features further.

'STREET_DIRECTION' and 'TRAVEL_DIRECTION' seem redundant; let's take a closer look.

In [102]:
merged_crashes['STREET_DIRECTION'].value_counts()

STREET_DIRECTION
W    1375616
S    1284931
N     900965
E     259777
Name: count, dtype: int64

In [103]:
merged_crashes['TRAVEL_DIRECTION'].value_counts()

TRAVEL_DIRECTION
N          895177
S          876826
W          806046
E          790611
UNKNOWN    188521
SE          51437
NW          46336
SW          38910
NE          38139
Name: count, dtype: int64

It seems like travel direction is more pertinent than street direction, so we'll drop the streets. Next, let's investigate 'DRIVERS_LICENSE_CLASS' more closely.

In [104]:
merged_crashes['DRIVERS_LICENSE_CLASS'].value_counts()

DRIVERS_LICENSE_CLASS
D     1631638
A       63603
C       50777
B       49613
DM      27448
       ...
AZ          1
TA          1
C2          1
TR          1
LT          1
Name: count, Length: 281, dtype: int64

The distribution here is pretty skewed, the second most frequent class is less than 4% of the most frequent, so I don't think it will be much help. Let's check out 'ROAD_DEFECT' as well.

In [105]:
merged_crashes['ROAD_DEFECT'].value_counts()

ROAD_DEFECT
NO DEFECTS           3107058
UNKNOWN               655439
OTHER                  18539
WORN SURFACE           15601
RUT, HOLES             15499
SHOULDER DEFECT         6612
DEBRIS ON ROADWAY       2555
Name: count, dtype: int64

Similar story here; after the less-than-useful classes of 'unknown' and 'other', the first specific one is 'worn surface', but it only amounts to 0.6% of the 'no defects' class, so this column will likely only hinder our model.

In [106]:
merged_crashes['ROADWAY_SURFACE_COND'].value_counts()

ROADWAY_SURFACE_COND
DRY                2853708
WET                 538994
UNKNOWN             274972
SNOW OR SLUSH       119147
ICE                  24736
OTHER                 8807
SAND, MUD, DIRT        939
Name: count, dtype: int64

In [107]:
final_columns_to_drop = ['CRASH_RECORD_ID', 'STREET_DIRECTION', 'DRIVERS_LICENSE_CLASS', 'ROAD_DEFECT']
merged_crashes = merged_crashes.drop(final_columns_to_drop, axis=1)
merged_crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3821303 entries, 0 to 3821302
Data columns (total 17 columns):
 #   Column                   Dtype
---  ------                   -----
 0   POSTED_SPEED_LIMIT       int64
 1   WEATHER_CONDITION        object
 2   LIGHTING_CONDITION       object
 3   ROADWAY_SURFACE_COND     object
 4   PRIM_CONTRIBUTORY_CAUSE  object
 5   NUM_UNITS                int64
 6   CRASH_HOUR               int64
 7   CRASH_DAY_OF_WEEK        int64
 8   CRASH_MONTH              int64
 9   LATITUDE                 float64
 10  LONGITUDE                float64
 11  PERSON_TYPE              object
 12  CITY                     object
 13  SEX                      object
 14  AGE                      float64
 15  TRAVEL_DIRECTION         object
 16  MANEUVER                 object
dtypes: float64(3), int64(5), object(9)
memory usage: 495.6+ MB

Before we begin preprocessing this merged DataFrame, we need to go through and eliminate the rows that contain 'unknown', 'other', or 'not reported' values as well as those that represent only a tiny fraction of the feature's value counts. This will help reduce the large amount of records we have and the amount of columns that will result after one-hot encoding.

In [108]:
merged_crashes['POSTED_SPEED_LIMIT'].value_counts()

POSTED_SPEED_LIMIT
30    2915125
35     273505
25     214449
20     127854
15      99682
10      63520
40      44133
45      29661
0       28913
5       15887
55       4147
50       1232
3         977
9         400
39        374
99        291
60        252
1         125
24        122
2          84
65         82
32         75
33         62
34         60
36         40
11         40
26         35
6          26
7          22
14         18
70         15
31         14
29         11
22         10
12          9
23          8
8           8
38          8
4           7
44          6
18          6
63          4
62          2
49          1
46          1
Name: count, dtype: int64

In [ ]:
#First we'll go through and drop any rows where the speed limit isn't a multiple of 5 while still keeping '0'
# since it's likely a placeholder for a parked vehicle.
import numpy as np
realistic_speed_limits = list(np.arange(0,75,5))
merged_crashes.drop(merged_crashes['POSTED_SPEED_LIMIT'].isin(realistic_speed_limits), axis=0, inplace=True)
merged_crashes['POSTED_SPEED_LIMIT'].value_counts()

We also need to filter out all rows with a 'CITY' listed other than Chicago and all 'passenger' class rows in the 'PERSON_TYPE' column.